{"name":"markX","slug":"markx","privacy":"public","platforms":["ios","android","web"],"version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"updates":{"fallbackToCacheTimeout":0},"assetBundlePatterns":["**/*"],"androidStatusBar":{"barStyle":"dark-content","backgroundColor":"#FFFFFF"},"ios":{"supportsTablet":true,"bundleIdentifier":"com.qaxperience.markx"},"android":{"package":"com.qaxperience.markx"},"extra":{"eas":{"projectId":"ee85a3dc-bfe6-4e2d-8f80-bb98172ca6f5"}},"owner":"papitorocks","sdkVersion":"48.0.0"}